<h1>Friends</h1>

<div class='search-area'>
  <h3>Search Friends</h3>
  <%= form_with url: search_friend_path, method: :get, data: { turbo_frame: "friend-results" }, class: "my-3" do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3">
        <%=button_tag type: :submit, class:"btn btn-success" do %>
          <%= 'Search'%>
        <%end%>
      </div>
    </div>
  <% end %>
</div>

<turbo-frame id="friend-results">

</turbo-frame>

<% if @friends.present? && @friends.any? %>
  <%= render 'friends/list' %>
<% end %>